ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

body {
  padding-top: 65px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a.hover {
  color: white;
}

h1 {
  text-align: center;
}

p {
  background-color: rgb(241, 240, 240);
  text-align: justify;
}

.carousel {
  margin-top: 50px;
}
.carousel-inner {
  height: 100px;
}
.carousel-caption {
  color: black;
  top: 50%;
}

h3 {
  color: black;
}

.list-group-item {
  text-decoration: underline;
}
